<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicio 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/itt.jfif" alt="" />
      <ion-card-header>
        <ion-card-title>Instituto Tecnologico de Tijuana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Instituto Tecnológico de Tijuana es una institución de educación superior 
          localizado en la ciudad de Tijuana, Baja California.
        </p>
        <br>
        <ion-button href="https://tectijuana.edu.mx" expand="block">Sitio web</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
